apbs/include
apbs/lib
bin/*
!bin/0README
doc/amoeba
doc/announce
doc/heart
doc/hippo
doc/mechanic
doc/multipoles
doc/sphinx
doc/word
#fftw
lib/linux/*
!lib/linux/0README
lib/macos/*
!lib/macos/0README
lib/windows/*
!lib/windows/0README
listing
source/*.a
source/*.mod
source/*.o
source/*.x
source/*.make
source/*-*
usage
