apbs
bin
doc/announce
doc/mechanic
doc/word
fftw
lib/linux/lib*
lib/macos/lib*
lib/windows/lib*
listing
mscale
osrw
source/*.a
source/*.mod
source/*.o
source/*.x
source/*.make
source/*-*
usage
fftw-3.3.8
fftw
